#title {
    size: 65px;
    color: orange;
    font-family: sans-serif;
  }
  #list {
    background-color: rosybrown;
    text-align: center;
    font-style:normal;
    line-height: 80px;
  }
  .bg-style {
    background-color: rgb(168, 146, 189);
  }
  #paragraph {
    font-weight: 600;
    font-size: 3em;
    text-align: center;
  }
  body {
    font-size: 16px;
  }
  #red {
    text-decoration:underline;
    background-color: red;
  }
  #yellow {
    background-color: yellow;
  }
  #brown {
    background-color: brown;
  }